*
{
    padding: 0px;
    margin: 0px;
    outline: 0px;
}

#logo
{
    position: absolute;
    left: 44%;
    top: 28%;
}


#sign_up_title, #sign_in_title, #no_such_user_title
{
position: absolute;
left: 47%;
top:20%;
}


#add_user_form #login_form, #no_user_form, #relogin_form
{
    position: absolute;
    left: 42%;
    top: 50%;
}

#password
{
    margin-left:  5px;
    margin-top: 10px;
}

#add_submit, #login_submit
{
    margin-top: 5px;
}

#relogin
{
    position: absolute;
    left: 43%;
    top: 50%;
}

#duplicate_user_title, #no_such_user_title 
{
    position: absolute;
    left: 45%;
    top: 20%;
}

#chat_form
{
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#chat_dialogue
{
    height: 100px;
    width: 86%;
}

#chat_submit
{
    background-color: #f2f2f2;
    height: 100px;
    width: 15%;
}

#exit
{
    background-color: #f2f2f2;
    height: 100px;
    width: 15%;
    position: absolute;
    top: 0px;
    right: 0px;
}